# --- Backend ---
/backend/node_modules
/backend/.env
/backend/.env.local
/backend/.env.production
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/logs
/backend/*.log
/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock
/backend/coverage
/backend/jspm_packages
/backend/.npm
/backend/.node_repl_history
/backend/*.tgz
/backend/.yarn-integrity
/backend/.vscode
/backend/.idea
/backend/*.swp
/backend/*.swo
/backend/*~
/backend/.DS_Store
/backend/.DS_Store?
/backend._*
/backend.Spotlight-V100
/backend.Trashes
/backend/ehthumbs.db
/backend/Thumbs.db

# --- Frontend ---
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# --- General ---
*.log